<!DOCTYPE html>
<html>

<head>
    <title>
        FULL THROTTLE
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- <meta name="csrf_token" content="{% csrf_token %} "> -->
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-light">
        <a class="navbar-brand" href="{% url 'dashboard' %}">
            <img src="https://fullthrottlelabs.com/img/logo/logo-2.png"></a>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link text-white" href="#">Active</a>
            </li>

            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'logout_url' %}">LogOut</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'addpost_url' %}">Write your posts</a>
            </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'login_url' %}">LogIn</a>
                </li>
                

            {% endif %}
        </ul>
    </nav>

    {% block content %}
    {% endblock %}

</body>

</html>